#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  position: relative;
  min-width: 100%;
  background-color: white;
}




body {
  font-size: 12px;
}

/* VAR */

.darkbg {
  background-color: #d07c7c;
  border: 1px solid white;
  color: white;
}

.darkbg:hover {
  background-color: #d07c7c;
}


.lightbg {
  background-color: #feb5b5;
  border: 1px solid white;
  color: white;
}

.lightbg:hover {
  background-color: #feb5b5;
}



.whitebg {
  background-color: white;
  border: 1px solid #feb5b5;
  color: black;
}

.whitebg:hover {
  color: black;
  border: 1px solid #d07c7c;

}


.app-photo {
  width: 1100px;
  height: auto;
}

.bordered {
  border: 3px solid #feb5b5;
}


/* BUTTONS */

.lbutton{
  padding: 1% 6%;
}

.lbutton a {
  color: white;
  width: 100%;
  padding: 0% 8%;
  display: block;
}

.lbutton a:hover {
  color: white;
}

.mbutton {
  padding: 1% 4%;
}

button {
  color: white;
}

.bc-top {
  font-size: 3em;
  margin-top: 0px;
  text-align: center;
  color: white;
}

.bc-speech {
  font-size: 1.5em;
  text-align: center;
  color: white;
  font-style: italic;
}


ul {
  list-style: none;
  padding: 0;
}


/* LOGIN */
.login-container {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  padding: 5%;
  border: 3px solid #feb5b5;
}

.large-input{
   min-width: 300px;
}


.login-input {
  background-color: white;
  color: black;
  border: 1px solid #d07c7c;
  margin: 13px 0;
}

.login-container form {
  display: flex;
  padding: 5%;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}

/* HOME PAGE */

header {
  background-image: url(/src/assets/images/app/home/evening.jpg);
  background-origin: padding-box;
  background-repeat: no-repeat;
  height: 430px;
  background-size: cover;
  background-position: 5%;
  padding-top: 20px;
}


header nav {
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;

}


.header-ul {
  display: flex;
  justify-content: space-between;
}

.header-ul a {
  font-weight: 500;
  color: white;

  font-size: 29px;
  text-decoration: inherit;
}



.home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.home img {
  max-height: 450px;
  width: 500px;
  max-width: 100%;
}

.home p {
  padding: 5%;
  TEXT-ALIGN: justify;
}


.home-rubrique-container {
  margin-bottom: 300px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  background-image: url(/src/assets/images/app/home/even.jpg);
  background-repeat: no-repeat;

  background-color: #1a1a1a;
  color: black;
  background-position: center;
  min-height: 450px;
}

footer a {
  margin: 0 30px;
  color: white !important;
}

footer h4 {
  color: ghostwhite;
}

.mentions {
  display: flex;
  height: 73px;
  justify-content: space-evenly;
  flex-direction: column;
}


.page-container {
  min-width: 80vw;
  min-width: 80vw;
  margin-top: 200px;
  /* DISPLAY: FLEX; */
  flex-direction: column;

  margin-bottom: 500px;
  margin-left: 10%;
  margin-right: 10%;
}


input {
  color: black;
}


.registration-form {
  margin: 0 12px;
  text-align: left;
  border: 1px solid #d07c7c;
  padding: 5%;
}

.registration-form h3 {

  text-align: center;
}

.registration-form label {

  min-width: 200px;
  ;
}

.registration-form .form-group {

  margin: 2px 0;

}

.registration-form .login-input {
  min-width: 300px;
}

input {
  color: white;
}

select {
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.users-dashboard {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 80px;
  border: 2px solid;
  padding: 50px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 80px;
  border: 2px solid;
  padding: 50px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}









/* 

CITIES PAGE 

*/

.page-container:has(.city-page) {
  margin: 10%;
  margin-bottom: 500px;
  margin-top: 200px;

}

.cities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.city-card {
  border: 3px solid #feb5b5 !important;
  height: 1100px;
  width: 100%;
  margin-top: 20PX;
  background-size: unset;
  border-radius: 0% !important;
  margin-top: 4%;
}



.city-container {

  margin-bottom: 200px;
  padding-bottom: 300px;
}

.city-display {
  DISPLAY: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.city-informations {
  text-align: justify;
  border: 3px solid #feb5b5;
  padding: 2%;
  padding-top: 5%;
  min-width: 240px;
  width: 20%;
}


.city-facts {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.city-image-infos {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-end;
  margin: 0 auto;
}


.city-image-infos h5 {
  color: white;
}
.city-card:hover .city-image-infos {
  visibility: visible;
}

.city-overview {
  min-height: 120px;

}



/* SINGLE CITY PAGE */


.page-container:has(.single-city) {
  margin: 0;
}

.single-city-image {
  max-width: 100%;
  width: 100%;
  margin-bottom: 10%;
}

.single-city-description {
  padding: 5%;
  border: 3px solid #feb5b5;
  margin-left: 15%;

}

.carousel-slider {
  max-height: 850px;
}

.user-rate {
  margin-bottom: 5%;
}

.single-city-facts,
.single-city-articles {
  margin: 0 10%;
}


.single-city-title {
  font-family: 'Great Vibes', cursive;
  margin: 60px;
  font-size: 87px;
}

.city-informations div {
  margin: 20px 0;
}

/* ARTICLES PAGE */

.articles-sort {
  display: flex;
  flex-direction: row;
  margin: 100px 0px;
}

.articles-sort p {
  margin-bottom: 0;
  margin-top: 10px;
}


.articles-list {

  margin: 0 auto;
}

.articles-intro {
  text-align: justify;
  padding: 5%;
  border: 3px solid #feb5b5;
  margin-top: 50px;
  margin-bottom: 20px;

}



.articles-list>div {
  margin-bottom: 200px;
}

.single-article-display {
  margin-top: 200px;
  margin-bottom: 500px;
}

.article-description {
  text-align: justify;
}

.write-article {
  margin-bottom: 200px;
}


.article-title {
  font-size: 2em;
}

.article-container {

  padding: 6%;
  margin-bottom: 120px;

  background-color: WHITE;
  BORDER: 3PX SOLID #feb5b5;
  color: black;

}


.article-image {
  height: auto;
  width: 900px;
  max-width: 100%;
}

.article-header {
  background-color: #081c37;
  color: white;
  font-size: 23px;
  margin-bottom: 0;
}


/* DISCOVER */


.discover-favoritecity {
  padding: 5%;
  margin-top: 50px;
  border: 3px dotted #feb5b5;
  margin-bottom: 50px;
}

.single-fact {

  border: 3px solid #eeeeee;
  padding: 5%;
  margin: 40px 0;
}


/* PROFILE PAGE */



.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}


.profile-menu {
  width: 30%;
  min-height: 800px;
  border: 1px solid;
}

.profile-page-display {
  width: 65%;
  min-height: 800px;
  border: 3px solid #feb5b5;
}

.profile-page-menu {
  border: 3px solid #feb5b5;
  width: 30%;
}

.profile-page-menulist {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  height: 70%;
  padding: 15% 0;
}

.profile-page-menulist li {
  margin-bottom: 10%;
}

.profile-page-form {
  padding: 5%;
}


.profile-select-city {
  display: flex;
  flex-direction: column;
}



.profile-article p {
  text-align: justify;
}

.write-article-select {
  background-color: white;
  border: 1px solid #d07c7c;
  color: black !important;
}

.write-article-container .login-input {

  margin: 0 30px;
  min-width: 450px;
}

.write-article-container label {
  min-width: 250px;
}

.write-article-container select {
  margin-top: 50px;
  margin-bottom: 30px;
}

.write-article-container div {
  margin: 20px 0;
}

.description-input {
  height: 5rem;
}


.title-input {
  height: 2rem;
}

/* ADMIN */

.app-photo{
  
  max-width: 100%;
}


.admin-city-select {
  height: 40px;
  width: 200px;
  color: black;
  background-color: white;
}

.admin-gallerie {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.admin-city-form{
  border: 3px solid #feb5b5;
  min-width: 70%;
  padding: 5%;
}

.admin-city-form textarea{
  min-height: 70px;
}


.admin-city-form .login-input{
  width: 80%;
}

.upload-button {
  width: 200px;
  margin: 0 auto;
}

.admin-city-select {
  margin: 0 auto;
}

.admin-imag {
  display: flex;
  flex-direction: column;
}

.gallerie-input {
  margin: 0 auto;
}

.fact-form{
  margin-bottom: 100px;
}

.fact-card {
  border: 3px solid #feb5b5;
  margin-bottom: 50px;
}

.write-fact{
  padding-top: 4%;
  border: 3px solid #feb5b5;
}

.user-input{
  width: 400px;
}

.users-dashboard{
  border: 3px solid #feb5b5;
}

.admin-info-user p {
  margin-bottom: 2px !important;
}


.user-informations{
  padding: 10% 5%;
  min-width: 200px;
}

.admin-gallerie button{
  padding: 1% 6%;
    max-width: 300px;
    margin: 0 auto;
}

/* ARTICLE PAGE */

.write-article-container {
  DISPLAY: FLEX;
  min-height: 1800px;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}




.choose-file-input {
  margin: 0 auto;
}

.ck-content {
  min-height: 800px;
}



/* HAMBURGER */
/* RESPONSIVE */


.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  display: none;
}


.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.articles-into {
  border: 1px solid;
  padding: 10%;
  border-radius: 7px;
  margin-top: 80px;
  text-align: justify;
}

.profile-article {
  display: flex;
  flex-direction: column;

  margin-top: 35px;
  padding: 5%;
}

.profile-photo{
  width: 100% !important;
}

@media (max-width: 767px) {

  .hamburger {
    display: grid;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;
  }

  .home {
    display: flex;
    flex-direction: column;
  }

  .article-container {
    margin: 0;
    margin-top: 50px;
  }


  .profile-page {
    flex-direction: column;
  }

  .profile-page-menu {
    width: 100%;
    margin-bottom: 40px;
  }

  .profile-page-display {
    width: 100%;
    padding: 5%;
  }

  footer {
    background-position: center;

  }



  .city-display {
    DISPLAY: flex;
    flex-direction: column;
  }

  header nav { 
    margin-top: 0;
  }

  .app-photo{
    max-width: 100%;
  
  }

}

@media (min-width: 768px) {

  .header-ul {
    display: flex !important;
  }

}