#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  position: relative;
  min-width: 100%;
  background-color: white;
}

button {
  color: white;
}

.bc-top {
  font-size: 3em;
  margin-top: 0px;
  text-align: center;
  color: white;
}

.bc-speech {
  font-size: 1.5em;
  text-align: center;
  color: white;
  font-style: italic;
}


ul {
  list-style: none;
  padding: 0;
}


/* HOME PAGE */

header {
  background-image: url(/src/assets/images/app/home/wptest.jpg);
  background-origin: padding-box;
  background-repeat: no-repeat;
  height: 430px;
  background-size: cover;
  background-position: 5%;
  padding-top: 20px;
}


header nav {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}


.header-ul {
  display: flex;
  justify-content: space-between;
}

.header-ul a {
  font-weight: 500;
  color: black;
  opacity: 0.65;
  font-size: 29px;
  text-decoration: inherit;
}



.home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.home img {
  max-height: 450px;
  width: 500px;
  max-width: 100%;
}

.home-rubrique-container {
  margin-bottom: 200px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  background-image: url(/src/assets/images/app/home/footertest.jpg);
  background-repeat: no-repeat;
  opacity: 0.7;
  background-color: #1a1a1a;
  color: black;
  background-position: center;
  min-height: 450px;
}


.page-container {
  min-width: 80vw;
  min-width: 80vw;
  margin-top: 200px;
  /* DISPLAY: FLEX; */
  flex-direction: column;

  margin-bottom: 500px;
  margin-left: 10%;
  margin-right: 10%;
}


input {
  color: white;
}

select {
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.users-dashboard {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 80px;
  border: 2px solid;
  padding: 50px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 80px;
  border: 2px solid;
  padding: 50px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}









/* 

CITIES PAGE 

*/

.cities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.city-card {
  border: 1px solid;
  min-height: 800PX;
  width: 100%;
  margin-top: 50PX;
  background-size: cover;
}


.city-container {
  margin: 200px 0;
  padding-bottom: 300px;
}

.city-display {
  DISPLAY: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.city-informartions {
  width: 20%;
  height: 400px;
  BORDER: 1px solid;
}

.city-facts {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.city-image-infos {
  visibility: hidden;
}



.city-card:hover .city-image-infos {
  visibility: visible;
}

.city-overview {
  width: 75%;
  min-height: 400px;
  border: 1px solid;
}



/* SINGLE CITY PAGE */


.page-container:has(.single-city) {
  margin: 0;
}

.single-city-image {
  max-width: 100%;
}

.single-city-description {
  padding: 5%;

}

.carousel-slider{
  max-height: 850px;
}

/* ARTICLES PAGE */

.articles-sort {
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.articles-list {

  margin: 0 auto;
}

.articles-list>div {
  margin-bottom: 200px;
}

.single-article-display {
  margin-top: 200px;
  margin-bottom: 500px;
}

.article-description {
  text-align: justify;
}

.write-article {
  margin-bottom: 200px;
}


.article-title {
  font-size: 2em;
}

.article-container {
  background-color: lightgray;
  padding: 6%;
  margin-bottom: 120px;
}

.article-image {
  height: auto;
  width: 900px;
  max-width: 100%;
}

.article-header {
  background-color: #081c37;
  color: white;
  font-size: 23px;
  margin-bottom: 0;
}


/* DISCOVER */ 


.discover-favoritecity{
  background-color: lightgray;
    padding: 5%;
    border-radius: 19px;
}

.single-fact{
  background-color: lightgray;
  padding: 5%;
}


/* PROFILE PAGE */



.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}


.profile-menu {
  width: 30%;
  min-height: 800px;
  border: 1px solid;
}

.profile-page-display {
  width: 65%;
  min-height: 800px;
  border: 1px solid;
}

.profile-page-menu {
  border: 1px solid;
  width: 30%;
}

.profile-page-menulist {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  height: 70%;
  padding: 15% 0;
}

.profile-page-menulist li {
  margin-bottom: 10%;
}

.profile-page-form {
  padding: 5%;
}


.profile-select-city {
  display: flex;
  flex-direction: column;
}

.profile-article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 64px;
  background-color: lightgray;
  border-radius: 5px;
  margin-bottom: 3%;
}


/* ADMIN */

.admin-city-select {
  height: 40px;
  width: 200px;
  color: white;
}

.admin-gallerie {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.upload-button {
  width: 200px;
  margin: 0 auto;
}

.admin-city-select {
  margin: 0 auto;
}

.admin-imag {
  display: flex;
  flex-direction: column;
}

.gallerie-input {
  margin: 0 auto;
}


/* ARTICLE PAGE */

.write-article-container {
  DISPLAY: FLEX;
  min-height: 600px;
  flex-direction: column;
  justify-content: space-around;
}



.choose-file-input {
  margin: 0 auto;
}



/* HAMBURGER */
/* RESPONSIVE */


.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  display: none;
}


.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

@media (max-width: 767px) {

  .hamburger {
    display: grid;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;
  }

  .home {
    display: flex;
    flex-direction: column;
  }

  .article-container {
    margin: 0;
    margin-top: 50px;
  }


  .profile-page {
    flex-direction: column;
  }

  .profile-page-menu {
    width: 100%;
  }

  .profile-page-display {
    width: 100%;
    padding: 5%;
  }

  footer {
    background-position: center;

  }

  .city-display {
    DISPLAY: flex;
    flex-direction: column;
  }  


}

@media (min-width: 768px) {

  .header-ul {
    display: flex !important;
  }

}

